/POOperroygato/target/
/POO/nbproject/private/
/POO/build/
/Perro/nbproject/private/
/perro/nbproject/private/
/perro/build/
/gato/nbproject/private/
/gato/build/
/persona/nbproject/private/
/persona/build/
/auto/nbproject/private/
/auto/build/
