/POOperroygato/target/
/POO/nbproject/private/
/POO/build/
/Perro/nbproject/private/
/perro/nbproject/private/
/perro/build/
/gato/nbproject/private/
/gato/build/
/persona/nbproject/private/
/persona/build/
/auto/nbproject/private/
/auto/build/
/Calculadora/nbproject/private/
/area/nbproject/private/
/areas/nbproject/private/
/Calculadoradeareas/nbproject/private/
/Calculadoradeareas/build/
/ClasesyObjetos/nbproject/private/
/clasesyobjetos/nbproject/private/
/clasesyobjetos/build/
/calculadoraexcepciones/nbproject/private/
/calculadoraexcepciones/build/
